<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>예시</h1>
<span th:text="${data}">html data</span>

<h1>1. 표준 HTML 주석</h1>
<!--
<span th:text="${data}">html data</span>
-->

<h1>2. 타임리프 파서 주석</h1>
<!--/* [[${data}]] */-->

<!--/* 타임리프 파서 주석의 시작-->
<span th:text="${data}">html data</span>
<!-- 타임리프 파서 주석의 끝. 사이 는 전부 주석처리*/-->

<h1>3. 타임리프 프로토타입 주석</h1>
<!--/*/ 타임리프로 랜더링 된 경우에만 보여줄거야!
<span th:text="${data}">html data</span>
/*/-->

</body>
</html>