<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <style>
        .field-success{
            color: crimson;
        }
    </style>
</head>
<body>

<h2>할일 상세</h2>


<h2 th:class="field-success" th:if="${param.status}" th:text="'게시물 저장 완료!!'"></h2>

<div>
    <label for="postId">NO</label>
    <input type="text" id="postId" name="postId" value="1" th:value="${post.id}" readonly>
</div>
<div>
    <label for="writer">작성자</label>
    <input type="text" id="writer" name="writer" value="작성자 1" th:value="${post.writer}" readonly>
</div>
<div>
    <label for="content">내용</label>
    <input type="text" id="content" name="content" value="내용 1" th:value="${post.content}" readonly>
</div>
<div>
    <label for="title" >제목</label>
    <input type="text" id="title" name="title" value="제목" th:value="${post.title}" readonly>
</div>
<div>
    <label for="date">작성날짜</label>
    <input type="text" id="date" name="date" value="2021.03.03" th:value="${post.getCreatedAt()}" readonly>
</div>
<div>
    <label for="viewCount">조회수</label>
    <input type="text" id="viewCount" name="viewCount" value="23" th:value="${post.viewCount}" readonly>
</div>

<button onclick="location.href='editPost.html'"
        th:onclick="|location.href='@{/boards/{postId}/edit(postId=${post.id})}'|"
        type="button" > 게시글 수정 </button>

<button onclick="location.href='list.html'"
        th:onclick="|location.href='@{/boards}'|"
        type="button" >목록으로</button>

</body>
</html>