<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}">
<head>
    <title>글등록</title>
    <meta name="description" content="">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div layout:fragment="layoutContent">
    <div id="board-area">
        게시물 내용 표시 위치
    </div>
    <hr>
    <form method="POST" action="/board" th:object="${boardForm}">
        <input placeholder="이름" th:field="*{name}">
        <span class="error-message" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">이름을 입력하세요</span>
        <input placeholder="이메일주소" th:field="*{email}">
        <span class="error-message" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">이메일을 입력하세요</span>
        <textarea placeholder="내용" rows="5" cols="80" wrap="off" th:field="*{content}"></textarea>
        <span class="error-message" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">내용을 입력하세요</span>
        <button type="submit">저장</button>
    </form>
</div>
</body>
</html>