# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\6161990src\SpringBoot-Practice\JunitCalculator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
